.table_container {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    height: 70vh;
    padding: 10%;

  }
  
  
  .h1Tittle {
    color: #000000;
    font-size: 40px;
    font-weight: 900;
    margin-left: 4rem;
    margin-right: 20px;
  }
  